@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@media only screen and (min-width: 2440px) {
  main.big-fonts-main {
    font-size: calc(2.6rem + 0.32vw);
  }
}
@media only screen and (max-width: 768px), (orientation: portrait) {
  body main {
    width: 100vw;
    padding-top: 5.5rem;
    padding-bottom: 1.5rem;
  }
  body main .card {
    width: 95vw;
    padding: calc(1rem + 2.5vw);
    margin-bottom: 2rem;
  }
  body main .image-card {
    max-width: 95vw;
  }
}
.hidden-caption {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  width: 100vw;
  min-height: 100vh;
  font-size: calc(0.8rem + 0.32vw);
  background-color: hsl(184deg, 6%, 81%);
  /*   [ MODAL ] */
}
main h2,
main h3,
main h4,
main h5,
main h6 {
  font-family: "Josefin Sans", sans-serif;
}
main .title {
  box-shadow: 10px 10px 10px hsla(0deg, 0%, 0%, 0.5);
  margin-bottom: 3rem;
  padding: 1%;
  background-color: hsl(283deg, 34%, 40%);
  border: 2px solid black;
  border-radius: 21px;
}
main .title .main-title {
  margin: 0.1rem 0;
  background-size: 95%;
  background-clip: text;
  background-image: linear-gradient(-225deg, #c47d0c 0%, #eef4a1 38%, #dfbb45 50%, #eef4a1 68%, #c47d0c 100%);
  -webkit-background-clip: text;
  color: transparent;
}
main .title .main-title h1 {
  margin: 0;
  padding: 1rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 200%;
}
main .title .main-title.home-title {
  width: 17.3em;
  background-image: linear-gradient(-225deg, #c47d0c 0%, #eef4a1 38%, #dfbb45 50%, #eef4a1 68%, #c47d0c 100%);
}
main .title .main-title.home-title h1 {
  font-family: "Oleo Script Swash Caps", cursive;
}
main .image-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  min-width: unset;
  margin-bottom: 3rem;
  padding: 0;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 10px 10px 10px hsla(0deg, 0%, 0%, 0.5);
}
main .image-card .image-container {
  border-radius: inherit;
}
main .image-card .image-container .image {
  border-radius: inherit;
}
main .card {
  width: calc(20rem + 27vw);
  min-width: 20rem;
  margin-bottom: 3rem;
  padding: 2%;
  background-color: hsl(55deg, 100%, 95%);
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 10px 10px 10px hsla(0deg, 0%, 0%, 0.5);
}
main .card .post-date {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 80%;
  color: hsl(283deg, 34%, 40%);
}
main .card .compare {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
main .card .compare div {
  box-shadow: 10px 10px 10px hsla(0deg, 0%, 0%, 0.5);
  width: 49%;
}
main .card .float {
  max-width: 30vw;
  margin-top: 0.3em;
  margin-bottom: 1em;
  border: 1px solid black;
  box-shadow: 10px 10px 10px hsla(0deg, 0%, 0%, 0.5);
  background-color: transparent;
}
main .card .float.portrait {
  width: 20%;
}
main .card .float.landscape {
  width: 40%;
}
main .card .float.left {
  float: left;
  margin-right: 1em;
}
main .card .float.right {
  float: right;
  margin-left: 1em;
}
main .card h2 {
  font-size: 170%;
  text-align: center;
  font-weight: 600;
  color: hsl(86deg, 65%, 28%);
}
main .card p {
  margin: 0 0 1em 0;
  font-family: "Play", sans-serif;
  text-align: justify;
  hyphens: auto;
}
main .card p.drop-caps::first-letter {
  margin-right: 0.5rem;
  padding-top: 0.15em;
  color: hsl(283deg, 34%, 40%);
  float: left;
  font-size: 2.5em;
  line-height: 3em;
  font-weight: 800;
}
main .card li::marker {
  color: hsl(283deg, 34%, 40%);
}
main.big-fonts-main {
  font-size: calc(1.6rem + 0.32vw);
}
main.big-fonts-main div.modal-image-container img {
  max-height: 83vh;
}
main.big-fonts-main div.modal-image-container span {
  font-size: 90%;
}
main .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
}
main .modal {
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 97vw;
  max-height: 97vh;
  background-color: hsl(55deg, 100%, 95%);
  border-radius: 15px;
  border: 2px solid black;
  transform: scale(0.1);
  transform: scale(1%);
  transition: transform 5.3s;
  transform: scale(100%);
}
main .modal > div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
main .modal > div .image-caption {
  font-weight: 600;
  padding-left: 0.5rem;
}
main .modal .modal-image-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 97vw;
  max-height: 97vh;
}
main .modal .modal-image-container img {
  border: 1px solid black;
  max-height: 87vh;
  margin-bottom: 0.2rem;
}
main .modal button {
  margin-left: 0.33rem;
  height: 1.5em;
  width: 1.5em;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  color: #dfbb45;
  background-color: hsl(283deg, 34%, 40%);
  border-radius: 5px;
  border: 1px solid hsl(284deg, 38%, 11%);
}
main .modal button:hover {
  position: relative;
  bottom: 5px;
  right: 5px;
  box-shadow: 10px 10px 10px hsla(0deg, 0%, 0%, 0.5);
}
main .modal button:active {
  box-shadow: inset 10px 10px 10px hsla(0deg, 0%, 0%, 0.5);
  color: #eef4a1;
}
main .modal-open {
  opacity: 1;
  visibility: visible;
}
main .modal-open .modal {
  transition: transform 0.2s ease;
  transform: scale(1);
}
main .modal-close .modal {
  transition: transform 0.5s ease;
  transform: scale(0.1);
}

.dark-theme main {
  background-color: hsl(184deg, 6%, 21%);
  color: hsl(184deg, 6%, 81%);
}
.dark-theme main .card {
  background-color: hsl(55deg, 100%, 10%);
}
.dark-theme main .title {
  background-color: hsl(283deg, 34%, 20%);
}

/*# sourceMappingURL=shared-main.css.map */
