// BIG SCREEN
@media only screen and (min-width: 2440px) {
  main.big-fonts-main {
    font-size: calc(2.6rem + 0.32vw);
  }
}
// TABLET
@media only screen and (max-width: 768px), (orientation: portrait) {
  body main {
    width: 100vw;
    padding-top: 18vh;
    padding-bottom: 3vh;
    & div.card {
      width: 95vw;
      padding: calc(1rem + 2.5vw);
      margin-bottom: 2rem;
    }
  }
}
