//
// Declarations
//

$cShadow: hsla(0, 0%, 0%, 50%);
$cDefaultBorder: black;

// Main
$cOutsideBg: white;
$cMainBg: hsl(184, 6%, 81%);
$cMainBlockBg: hsl(55, 100%, 95%);

// Sidebar
$cSidebarBg: hsl(283, 39%, 63%);
$cSidebarBg2: hsl(283, 39%, 72%);
$gSideBar: linear-gradient(
  90deg,
  $cSidebarBg 0%,
  $cSidebarBg 20%,
  $cSidebarBg2 50%,
  $cSidebarBg 80%,
  $cSidebarBg 100%,
  $cMainBg 99%
);
$gSideBarMq: linear-gradient(
  0deg,
  $cSidebarBg 0%,
  $cSidebarBg 20%,
  $cSidebarBg2 50%,
  $cSidebarBg 80%,
  $cSidebarBg 100%,
  $cMainBg 99%
);
$gSideButton: linear-gradient(
  -25deg,
  $cSidebarBg 0%,
  $cSidebarBg 30%,
  $cSidebarBg2 50%,
  $cSidebarBg 70%,
  $cSidebarBg 100%,
  $cMainBg 99%
);
// Logo
$cLogo: hsl(283, 34%, 40%);
$cLogoBorder: hsl(284, 38%, 11%);
$cLogoText1: #c47d0c;
$cLogoText2: #eef4a1;
$cLogoText3: #dfbb45;
$gLogoText: linear-gradient(
  -225deg,
  $cLogoText1 0%,
  $cLogoText2 38%,
  $cLogoText3 50%,
  $cLogoText2 68%,
  $cLogoText1 100%
);

// Logo Hover Glow
$cLogoBackGlow: hsl(283, 34%, 60%);
$cLogoGlow: hsla(64, 79%, 79%, 70%);
$cLogoBorderGlow: hsl(64, 79%, 79%);

// Logo Active Glow
$cLogoActiveGlow: hsla(45, 70%, 57%, 70%);
$cLogoBorderActiveGlow: hsl(45, 70%, 57%);

// Footer
$cFooterBorder: hsl(284, 38%, 11%);
$footerFont: $cLogoText2;
$cFontButton: #eef4a1;
$cFontButtonActive: hsl(45, 70%, 57%);
$cFontBottonBg: hsl(283, 34%, 60%);

// Main
$cMainTitleBg: hsl(283, 34%, 40%);
//$cTitle: hsl(283, 65%, 28%);
$cTitle: hsl(86, 65%, 28%);
$cFirstLetter: hsl(283, 34%, 40%);

@mixin flexing($flexflow: row, $wrap: wrap, $justify: center, $align: center) {
  // Use "none" to unset
  @if display != 'flex' {
    display: flex;
  }
  @if $flexflow != 'none' and $wrap != 'none' {
    flex-flow: $flexflow $wrap;
  } @else {
    @if $flexflow != 'none' {
      flex-direction: $flexflow;
    }
    @if $wrap != 'none' {
      flex-wrap: $wrap;
    }
  }
  @if $justify != 'none' {
    justify-content: $justify;
  }
  @if $align != 'none' {
    align-items: $align;
  }
}

// 0 None / 1 Normal / 2 Inset / 3 Inverted
@mixin giveShadow($state) {
  @if $state == 0 {
    box-shadow: none;
  } @else if $state == 1 {
    box-shadow: 10px 10px 10px $cShadow;
  } @else if $state == 2 {
    box-shadow: inset 10px 10px 10px $cShadow;
  } @else if $state == 3 {
    box-shadow: 10px -10px 10px $cShadow;
  } @else if $state == 4 {
    // Logo glows when hover in yellow.
    border: 1px solid $cLogoBorderGlow;
    background-color: $cLogoBackGlow;
    box-shadow: 0px 0px 20px 5px $cLogoGlow, inset 0px 0px 20px 15px $cLogoGlow;
  } @else if $state == 5 {
    // Logo glows when active in orange.
    border: 1px solid $cLogoBorderActiveGlow;
    background-color: $cLogoBackGlow;
    box-shadow: 0px 0px 20px 5px $cLogoActiveGlow,
      inset 0px 0px 20px 15px $cLogoActiveGlow;
  }
}
