@use './tools' as tools;
@import './normalize';
@import './_common-mq';

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

picture {
  display: block;
}

html body img.image {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  @include tools.flexing(row, none, flex-start, center);
}

.shadow1 {
  @include tools.giveShadow(1);
}

body .bodyContainer {
  @include tools.flexing(row, none, flex-start, center);
  width: 100vw;
}

.bodyContainer > .sidebarContainer {
  @include tools.flexing(column, none, flex-start, center);
  min-width: 14rem;
  width: 18vw;
  max-width: 12rem;

  & .sidebar {
    outline: 1px solid black;
    @include tools.flexing(column, none, space-between, center);
    background-color: tools.$cSidebarBg;
    background-image: tools.$gSideBar;
    @include tools.giveShadow(1);
    position: fixed;
    top: 0;
    bottom: 0;
    min-width: 14rem;
    max-width: 12rem;
    width: 18vw;
    //height: 100vh;

    & header {
      @include tools.flexing(column, nowrap, space-between, center);
    }
  }
}
.btn-menu {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  font-weight: 600;
  visibility: hidden;
}
.logo {
  @include tools.flexing(column, nowrap, center, center);
  margin-top: 4vh;
  max-width: 100%;
  //height: 100px;
  //width: 160px;
  height: 70px;
  width: 112px;
  padding: 0 4px;
  background-color: tools.$cLogo;
  border-radius: 21px;
  border: 2px solid tools.$cLogoBorder;
  &:hover {
    transform: scale(1.4);
    @include tools.giveShadow(0);
    @include tools.giveShadow(4);
  }
  &:active {
    @include tools.giveShadow(0);
    @include tools.giveShadow(5);
  }
}
.logoLink {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 2.3rem;
  text-decoration: none;
  background-image: tools.$gLogoText;
  background-size: 95%;
  background-clip: text;
  color: transparent;
  text-align: center;
  font-weight: 900;
}
nav {
  padding: 1vh 1rem;
  padding: 0 1rem;
  & ul {
    @include tools.flexing(column, nowrap, center, center);
    padding: 0;
    list-style: none;
  }
  & li button {
    font-size: 1rem;
    border: 2px solid tools.$cDefaultBorder;
    margin: 2vh 1rem;
    padding: 1vh 0;
    width: 7rem;
    border-radius: 10px;
    background-image: tools.$gSideButton;
    text-align: center;
    &:hover {
      @include tools.giveShadow(1);
      position: relative;
      bottom: 5px;
      right: 5px;
      transition: bottom, right, 0.2s ease;
    }
    &:active {
      top: 0px;
      left: 0px;
      transition: bottom, right, 0.1s ease;
      @include tools.giveShadow(0);
      @include tools.giveShadow(2);
    }
  }
}

footer div {
  @include tools.flexing(row, none, space-between, center);
  margin-bottom: 3vh;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  border-radius: 8px;
  border: 2px solid tools.$cFooterBorder;
  height: 2rem;
  width: 16em;
  color: tools.$footerFont;
  background-color: tools.$cLogo;
  & .btn-font {
    //border: 1px solid red;
    border: 2px solid tools.$cDefaultBorder;
    //background-image: tools.$gSideButton;
    background-color: tools.$cFontBottonBg;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-weight: 600;
    line-height: 1rem;
    &:hover {
      border: 2px solid tools.$cFontButton;
      color: tools.$cFontButton;
    }
    &:active {
      border: 2px solid tools.$cFontButtonActive;
      color: tools.$cFontButtonActive;
    }
  }
}

html body .bodyContainer .sidebarContainer div.sidebar.hidden {
  //border: 2px solid red;
  min-width: unset;
  width: 2.6rem;
  border-radius: 0 0 60px 0;
  & .logo {
    visibility: hidden;
  }
  & nav {
    visibility: hidden;
  }
}

html body button.btn-menu.bigFontsBtn {
  outline: 3px solid red;
  font-size: 1.8rem;
  width: 12rem;
}

html body button.fontButtonActive {
  border: 2px solid tools.$cFontButtonActive;
  color: tools.$cFontButtonActive;
}
