@use './tools' as tools;
@import './_home-mq';

main {
  @include tools.flexing(column, none, flex-start, center);
  width: 100vw;
  padding: 1vw;
  min-height: 100vh;
  background-color: tools.$cMainBg;
  & div {
    @include tools.flexing(column, none, center, center);
    width: calc(20rem + 3 * 9vw);
    min-width: 20rem;
    margin-bottom: 3rem;
    background-color: tools.$cMainBlockBg;
    border-radius: 15px;
    border: 2px solid tools.$cDefaultBorder;
    padding: 2%;
    font-size: calc(0.8rem + 0.32vw);
    @include tools.giveShadow(1);
  }
}

.bigFonts {
  font-size: calc(3.6rem + 0.32vw);
}
