@use './tools' as tools;
@import './shared-main-mq';
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

// headings
h2,
h3,
h4,
h5,
h6 {
  @extend %headings !optional;
}

.hidden-caption {
  display: none;
}

main {
  @include tools.flexing(column, none, flex-start, center);
  color: tools.$cMainFont;
  width: 100vw;
  //padding: 1vw;
  min-height: 100vh;
  font-size: calc(0.8rem + 0.32vw);
  background-color: tools.$cMainBg;

  & %headings {
    font-family: 'Josefin Sans', sans-serif;
  }

  // TITLE SECTION
  & .title {
    @include tools.giveShadow(1);
    margin-bottom: 3rem;
    padding: 1%;
    background-color: tools.$cMainTitleBg;
    border: 2px solid tools.$cDefaultBorder;
    border-radius: 21px;

    & .main-title {
      margin: 0.1rem 0;
      background-size: 95%;
      background-clip: text;
      background-image: tools.$gLogoText;
      -webkit-background-clip: text;
      color: transparent;
      & h1 {
        margin: 0;
        padding: 1rem;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 200%;
      }
      &.home-title {
        width: 17.3em;
        background-image: tools.$gLogoText;
        & h1 {
          font-family: 'Oleo Script Swash Caps', cursive;
        }
      }
    }
  }

  .image-card {
    // For cards that contains only images.
    @include tools.flexing(column, none, center, center);
    width: 30rem;
    min-width: unset;
    margin-bottom: 3rem;
    padding: 0;
    border-radius: 15px;
    border: 2px solid tools.$cDefaultBorder;
    @include tools.giveShadow(1);

    & .image-container {
      border-radius: inherit;

      & .image {
        border-radius: inherit;
      }
    }
  }

  & .card {
    // GENERIC CARD
    width: calc(20rem + 3 * 9vw);
    min-width: 20rem;
    margin-bottom: 3rem;
    padding: 2%;
    background-color: tools.$cMainBlockBg;
    border-radius: 15px;
    border: 2px solid tools.$cDefaultBorder;
    @include tools.giveShadow(1);

    .post-date {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-size: 80%;
      color: tools.$cPostDate;
    }

    .compare {
      // Used to put two images side by side for comparing purposes.
      @include tools.flexing(row, none, space-between, center);
      margin-bottom: 1em;

      & div {
        @include tools.giveShadow(1);
        width: 49%;
      }
    }

    .float {
      // Floating images over the text. You can use the below classes to customize
      // position and size.
      max-width: 30vw;
      margin-top: 0.3em;
      margin-bottom: 1em;
      border: 1px solid tools.$cMainBorder;
      @include tools.giveShadow(1);
      background-color: transparent;

      &.portrait {
        width: 20%;
      }

      &.landscape {
        width: 40%;
      }

      &.left {
        float: left;
        margin-right: 1em;
      }

      &.right {
        float: right;
        margin-left: 1em;
      }
    }

    & h2 {
      font-size: 170%;
      text-align: center;
      font-weight: 600;
      color: tools.$cTitle;
    }

    & p {
      margin: 0 0 1em 0;
      font-family: 'Play', sans-serif;
      text-align: justify;
      hyphens: auto;

      &.drop-caps::first-letter {
        margin-right: 0.5rem;
        padding-top: 0.15em;
        color: tools.$cFirstLetter;
        float: left;
        font-size: 2.5em;
        line-height: 3em;
        font-weight: 800;
      }
    }

    & li::marker {
      color: tools.$cBullet;
    }
  }

  &.big-fonts-main {
    font-size: calc(1.6rem + 0.32vw);
    & div.modal-image-container {
      img {
        max-height: 83vh;
      }
      span {
        font-size: 90%;
      }
    }
  }

  /*   [ MODAL ] */
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include tools.flexing(row, none, center, center);
    visibility: hidden;
    background: tools.$cModalBackground;
  }

  .modal {
    padding: 0.7rem;
    @include tools.flexing(row, none, center, flex-start);
    max-width: 97vw;
    max-height: 97vh;
    background-color: tools.$cMainBlockBg;
    border-radius: 15px;
    border: 2px solid tools.$cDefaultBorder;
    transform: scale(0.1);
    transform: scale(1%);
    transition: transform 5.3s;
    transform: scale(100%);

    & > div {
      @include tools.flexing(column, wrap, center, center);

      & .image-caption {
        //font-size: 90%;
        font-weight: 600;
        padding-left: 0.5rem;
      }
    }

    & .modal-image-container {
      @include tools.flexing(column, nowrap, center, center);
      max-width: 97vw;
      max-height: 97vh;

      & img {
        border: 1px solid tools.$cMainBorder;
        max-height: 87vh;
        margin-bottom: 0.2rem;
      }
    }

    & button {
      margin-left: 0.33rem;
      height: 1.5em;
      width: 1.5em;
      font-family: 'Oswald', sans-serif;
      font-size: 1.6rem;
      color: tools.$cLogoText3;
      background-color: tools.$cLogo;
      border-radius: 5px;
      border: 1px solid tools.$cLogoBorder;

      &:hover {
        position: relative;
        bottom: 5px;
        right: 5px;
        @include tools.giveShadow(1);
      }

      &:active {
        @include tools.giveShadow(2);
        color: tools.$cLogoText2;
      }
    }
  }

  .modal-open {
    opacity: 1;
    visibility: visible;

    & .modal {
      transition: transform 0.2s ease;
      transform: scale(1);
    }
  }

  .modal-close {
    & .modal {
      transition: transform 0.5s ease;
      transform: scale(0.1);
    }
  }
}

.dark-theme {
  main {
    background-color: tools.$cMainBgDk;
    color: tools.$cMainFontDk;
    & .card {
      background-color: tools.$cMainBlockBgDk;
    }
    & .title {
      background-color: tools.$cMainTitleBgDk;
    }
  }
}
