@use './tools' as tools;
@import './normalize';
@import './shared-sidebar-mq';
//fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

picture {
  display: block;
}

html body img.image {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  @include tools.flexing(row, none, flex-start, center);
}

a:link {
  color: tools.$cLink;
}
a:visited {
  color: tools.$cLinkVisited;
}

.footer-shadow {
  @include tools.giveShadow(1);
}

.body-container {
  @include tools.flexing(row, none, flex-start, center);
  width: 100vw;
}

// SIDEBAR SECTION
.sidebar-container {
  @include tools.flexing(column, none, flex-start, center);
  width: 19vw;
  min-width: 17rem;
  max-width: 12rem;

  & .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;

    @include tools.flexing(column, none, space-between, center);
    width: 19vw;
    min-width: 17rem;
    max-width: 12rem;

    outline: 1px solid tools.$cSidebarBorder;
    background-color: tools.$cSidebarBg;
    background-image: tools.$gSideBar;
    @include tools.giveShadow(1);
    transition: all 0.2s ease;

    & header {
      @include tools.flexing(column, nowrap, space-between, center);
    }

    &.hidden {
      width: 2.6rem;
      min-width: unset;
      border-radius: 0 0 60px 0;

      & .logo {
        visibility: hidden;
      }

      & nav {
        transform: translateX(-500px);
      }
    }
  }
}

// BURGER BUTTON SECTION
.btn-menu {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  visibility: hidden;
}

// LOGO SECTION
.logo {
  @include tools.flexing(column, nowrap, center, center);
  height: 70px;
  width: 112px; // Default: (H)100px (W)160px
  max-width: 100%;
  margin-top: 4vh;
  padding: 0 4px;

  background-color: tools.$cLogo;
  border-radius: 21px;
  border: 2px solid tools.$cLogoBorder;

  &:hover {
    @include tools.giveShadow(0);
    @include tools.giveShadow(4);
    transform: scale(1.4);
  }

  &:active {
    @include tools.giveShadow(0);
    @include tools.giveShadow(5);
  }
}

header .logo a.logo-link {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 2.3rem;
  text-decoration: none;
  text-align: center;
  font-weight: 900;

  background-image: tools.$gLogoText;
  background-size: 95%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

// NAV MENU SECTION
nav {
  padding: 0 1rem;
  transition: all 0.1s ease;

  & ul {
    @include tools.flexing(column, nowrap, center, center);
    padding: 0;
    list-style: none;
  }

  & button {
    margin: 2vh 1rem;
    padding: 1vh 0;
    width: 7rem;
    font-family: 'Oswald', sans-serif;

    text-align: center;

    border: 2px solid tools.$cDefaultBorder;
    border-radius: 10px;
    background-image: tools.$gSideButton;

    &:hover {
      position: relative;
      bottom: 5px;
      right: 5px;

      @include tools.giveShadow(1);

      transition: bottom, right, 0.2s ease;
    }

    &:active {
      top: 0px;
      left: 0px;

      @include tools.giveShadow(0);
      @include tools.giveShadow(2);
      transition: bottom, right, 0.1s ease;
    }
  }
}

// FOOTER SECTION
footer {
  @include tools.flexing(row, none, space-between, center);
  margin-bottom: 3vh;
  padding: 0 0.2rem;

  font-size: 0.8rem;

  border-radius: 8px;
  border: 2px solid tools.$cFooterBorder;
  color: tools.$footerFont;
  background-color: tools.$cLogo;
  & .custom-button-container {
    @include tools.flexing(row, wrap, space-between, center);
    margin: 0.2rem 0.3em 0.2rem 0;
    width: 4.4rem;
  }
  & .cstm-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;

    border: 2px solid tools.$cDefaultBorder;
    background-color: tools.$cFontBottonBg;

    &:hover {
      border: 2px solid tools.$cFontButton;
      color: tools.$cFontButton;
    }
    &:active {
      border: 2px solid tools.$cFontButtonActive;
      color: tools.$cFontButtonActive;
    }
  }
  & p {
    margin: 0.3em 0;
    text-align: center;
  }
}

// BIG FONTS SECTION
button.nav-btn.big-fonts-btn {
  width: 9.5rem;
  font-size: 1.4rem;
}

button.font-btn-active {
  border: 2px solid tools.$cFontButtonActive;
  color: tools.$cFontButtonActive;
}

footer.big-fonts-footer {
  font-size: 0.9rem;
}

.dark-theme {
  a:link {
    color: tools.$cLinkDk;
  }
  a:visited {
    color: tools.$cLinkVisitedDk;
  }
  .sidebar {
    background-color: tools.$cSidebarBgDk;
    background-image: tools.$gSideBarDk;
    color: tools.$cMainFontDk;
    .logo {
      background-color: tools.$cLogoDk;
    }
    & .title {
      background-color: tools.$cMainTitleBgDk;
    }
    & nav {
      button {
        color: tools.$cMainFontDk;
        background-image: tools.$gSideButtonDk;
        border: 2px solid tools.$cDefaultBorderDk;
      }
    }
    footer {
      background-color: tools.$cLogoDk;
    }
    .cstm-btn {
      &.btn-thm {
        border: 2px solid tools.$cFontButtonActive;
      }
      background-color: tools.$cLogoDk;
    }
  }
}
